<% layout("/layouts/boilerplate.ejs") %>

<!-- Hero section -->
<div class="name-container">
  <div class="n-artist-name">
    <p class="n-paragraph">HARMONI<span class="change-font">Sh</span></p>
    <span class="span-add-fill">
      <p>remixes</p>
    </span>
    <span class="span-add-fill">
      <p>typebeats</p>
    </span>
  </div>
  <div class="n-by-name">
    <span class="span-add-fill">
      <p>music</p>
    </span>
    <p class="n-paragraph">by</p>
    <span class="span-add-fill">
      <p>explore</p>
    </span>
  </div>
  <div class="n-name-name">
    <div class="n-info">
      <div class="n-info-div">
        <hr />
        <div class="n-info-music">
          <p>total typebeats</p>
          <p class="go-to-end"><%= songs.length %></p>
        </div>
        <hr />
        <div class="n-info-music">
          <span><p>total remixes</p></span>
          <span><p class="go-to-end"><%= remix.length %></p></span>
        </div>
        <hr />
      </div>
    </div>
    <div class="my-name-div">
      <p class="n-paragraph">nilanshu garhewal</p>
    </div>
  </div>
</div>

<!-- image section -->
<%- include("../includes/imageSection.ejs") %>

<!-- about section -->
<%- include("../includes/aboutSection.ejs") %>

<!-- project section -->
<!-- This is the main section where the data is displayed. -->
<div class="project-section">
  <div class="project-name side-slide-animation-2">
    <div>
      <div class="project-name-container">
        <span class="material-symbols-sharp bolt-icon"> bolt </span>
        <!-- <hr /> -->
        <span class="project-name-span">
          <p>BROWSE</p>
        </span>
      </div>

      <!-- View all page when too many projects are uploaded -->
      <!-- <div class="view-project-div">
        <span class="material-symbols-sharp"> arrow_right_alt </span>
        <p class="p-view-all">All View</p>
      </div> -->
    </div>

    <div class="view-project-div">
      <span class="material-symbols-sharp"> arrow_right_alt </span>
      <p class="p-view-remix">View Remixes</p>
    </div>
  </div>

  <!-- Main project -->

  <div class="music-projects">
    <div class="music-typebeat-details">
      <% let counter = 1; %> <% songs.forEach(song => { %>
      <section class="music-sep-section">
        <div>
          <iframe
            class="lazy-iframe"
            src="https://www.youtube.com/embed/<%= song.songLink %>"
            title="YouTube video player"
            frameborder="0"
            allowfullscreen
          >
          </iframe>
        </div>
        <div><p><%= counter++ %>. <%= song.songTitle %></p></div>

        <div>
          <p class="mini">Genre: <b><%= song.songGenre %></b></p>
        </div>

        <div>
          <p class="mini">Tags: <b><%= song.songTags %></b></p>
        </div>
      </section>
      <% }); %>
    </div>

    <div class="music-remix-details">
      <% let number = 1; %> <% remix.forEach(remix => { %>
      <section class="music-sep-section">
        <div>
          <iframe
            class="lazy-iframe"
            src="https://www.youtube.com/embed/<%= remix.songLink %>"
            title="YouTube video player"
            frameborder="0"
            allowfullscreen
          >
          </iframe>
        </div>
        <div><p><%= number++ %>. <%= remix.songTitle %></p></div>

        <div>
          <p class="mini">Genre: <b><%= remix.songGenre %></b></p>
        </div>

        <div>
          <p class="mini">Tags: <b><%= remix.songTags %></b></p>
        </div>
      </section>
      <% }); %>
    </div>
  </div>
</div>

<!-- faq section -->
<%- include("../includes/faqSection.ejs") %>
